<html lang="pt-BR">
  <head>
    <title>O Posista</title>
    <link rel="icon" href="assets/icon.png">
    <!-- Responsivivdade -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-status-bar" content="#aa7700">
    <meta name="theme-color" content="black">

    <!-- Arquivos para utilização do modelo do TensorFlow.js -->
    <script src="scripts/tfjs.js"></script>
    <!-- Import @tensorflow/tfjs-core -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script> -->
    <!-- Adds the WebGL backend to the global backend registry -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script> -->
    <script src="scripts/pose-detection.js"></script>
    
    <!-- Script da aplicação -->
    <script src="index.js"></script>
    <!-- Framework -->
    <script src="scripts/vue.global.js"></script>

    <script src="assets/imagens_modelo/imagens_modelo.js"></script>

    <!-- Estilos -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="assets/fonts/css2.css" />
    
    <!-- Manifest.json -->
    <link rel="manifest" href="manifest.json">
  </head>

  <body>
    <div id="app">
      <header>
        <img id="imagem-logo" src="assets/logo.svg">
      </header>

      <main>
        <div class="container">
          <div class="itemBase">
            <div class="imagem-base"><img id="imagemBase" :src="item_base.src"></div>
            <div class="canvas-base"><canvas id="canvasBase"></canvas></div>
            <div class="menu-base-container">
              <div class="menu-base">
                <span
                  title="Alterar imagem modelo"
                  @click="alterar_imagem_base"
                  class="material-symbols-outlined medium"
                  style="font-size: 50pt; cursor: pointer;"
                >
                  refresh
                </span>
              </div>
            </div>
          </div>

          <div class="resultado">
            <span v-if="item_selecionado === null && contagem_regressiva !== 0">
              Próxima foto em: {{ contagem_regressiva }}
            </span>
            <span v-if="item_selecionado === null && contagem_regressiva === 0">
              Mantenha a pose, estou tirando a foto!
            </span>
            <span v-if="item_selecionado !== null">
              Você está visualizando, clique no círculo para continuar tentando.
            </span>

            <span class="score">
              {{ item_selecionado === null ? score_corrente : historico[item_selecionado].score }}
            </span>
            <span class="mensagem">
              {{ frase_corrente }}
            </span>
          </div>

          <div class="itemDeEntrada">
            <div class="canvas-geral-entrada"><canvas id="canvas"></canvas></div>
            <div class="imagem-entrada">
              <img
                v-if="item_selecionado !== null"
                id="imagemEntrada"
                :src="historico[item_selecionado].src"
              >
            </div>
            <div class="video-entrada">
              <video
                v-show="item_selecionado === null"
                id="videoEntrada"
                autoplay="true"
              ></video>
            </div>
            <div class="canvas-entrada"><canvas id="canvasEntrada"></canvas></div>
            <div class="menu-entrada-container">
              <div class="menu-entrada">
                <span
                  title="Trocar câmera"
                  @click="reconfigurar_camera"
                  v-show="false"
                  class="material-symbols-outlined"
                  style="font-size: 50pt; cursor: pointer;"
                >
                  switch_camera
                </span>
                <span
                  title="Continuar capturando"
                  @click="reconfigurar_camera"
                  v-show="item_selecionado !== null"
                  class="material-symbols-outlined"
                  style="font-size: 50pt; cursor: pointer; color: white;"
                >
                  radio_button_checked
                </span>
                <span
                  title="Compartilhar"
                  v-show="item_selecionado !== null"
                  @click="compartilhar"
                  class="material-symbols-outlined"
                  style="font-size: 50pt; cursor: pointer;"
                >
                  share
                </span>
                <span
                  v-if="false"
                  @click="atualizar_score"
                  class="material-symbols-outlined"
                  style="font-size: 50pt; cursor: pointer;"
                >
                  published_with_changes
                </span>
              </div>
            </div>
          </div>
          <div class="historico">
            <span class="historico-titulo">Histórico</span>
            <div
              v-for="item in historico"
              :key="item.id"
              @click="this.item_selecionado = item.id"
              class="historico-item"
            >
              <div class="historico-imagem">
                <img :src="item.src">
              </div>
              <span title="Pontuação" class="historico-score">
                {{item.score}}
              </span>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <a href="https://www.ufs.br/"><img src="assets/ufs_vertical_positiva.png"></a>
        <a href="https://www.ufs.br/"><img src="assets/ufs_horizontal_positiva.png"></a>
        <a href="https://www.sigaa.ufs.br/sigaa/public/departamento/portal.jsf?id=83"><img src="assets/dcomp.png"></a>
        <a href="https://www.sigaa.ufs.br/sigaa/public/departamento/portal.jsf?id=83"><img src="assets/dcomp2.png"></a>
        <a href="https://gabrielsantos19.com/"><img src="assets/gabriel_santos.svg"></a>
      </footer>

      <div v-show="false">
        <canvas id="canvas-compartilhar"></canvas>
        <a id="click-to-download" v-show="false" href="" download="O_Posista"></a>
        <img id="imagem-badge" v-show="false" src="assets/badge.svg">
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      const imagens_base = imagens_modelo;
      // const imagens_base = [
      //   "assets/imagens_modelo/pose1.jpg",
      //   "assets/imagens_modelo/pose2.jpeg",
      //   "assets/imagens_modelo/pose3.png",
      // ];

      const app = createApp({
        data() {
          return {
            modelo_inicializado: false,
            video_inicializado: false,
            item_base: {
              index: 1,
              src: imagens_base[0].src,
              imagem: imagens_base[0],
            },
            item_teste: {},
            score_corrente: 0,
            item_selecionado: null,
            id_intervalo: null,
            historico: [
              {
                id: 0,
                score: 500,
                src: imagens_base[0].src,
                imagem: imagens_base[0],
              },
            ],
            contagem_regressiva: 10,
          }
        },
        computed: {
          frase_corrente() {
            let score = this.score_corrente
            if (this.item_selecionado !== null) {
              score = this.historico[this.item_selecionado].score
            }
            const index = Math.floor(score / 200)
            const frases = [
              "Sua imitação está muito ruim. Continue tentando!",
              "Sua imitação está ruim. Não desanime, continue tentando!",
              "Sua imitação está confusa.",
              "Quase lá! Só restam pequenos ajustes.",
              "Perfeito! Agora você pode compartilhe o seu resultado.",
            ];
            return frases[index]
          },
        },
        mounted() {
          Modelo.inicializar_modulo().then((r) => this.modelo_inicializado = r)
          if (navigator.mediaDevices.getUserMedia) {
            this.abrir_camera()
          }
        },
        beforeUnmount() {
          if (this.id_intervalo) {
            clearTimeout(this.id_intervalo)
          }
        },
        watch: {
          item_selecionado() {
            if (this.item_selecionado === null) {
              const id_intervalo = setTimeout(this.contar_contagem_regressiva, 1000)
              this.contagem_regressiva = 10
              this.id_intervalo = id_intervalo
            } else {
              clearTimeout(this.id_intervalo)
              this.id_intervalo = null
            }
          },
          modelo_inicializado() {
            if (this.video_inicializado) {
              console.log('Modelo e vídeo inicializados. Iniciando contagem.')
              const id_intervalo = setTimeout(this.contar_contagem_regressiva, 1000)
              this.id_intervalo = id_intervalo
            }
            // this.atualizar_item_base()
            // this.atualizar_item_teste()
          },
          // item_base() {
          //   this.atualizar_item_base()
          // },
          // item_teste() {
          //   this.atualizar_item_teste()
          // },
        },
        methods: {
          async contar_contagem_regressiva() {
            if (this.contagem_regressiva > 0) {
              this.contagem_regressiva = this.contagem_regressiva - 1
            } else {
              this.contagem_regressiva = 10
              await this.atualizar_score()
            }
            if (this.item_selecionado === null) {
              const id_intervalo = setTimeout(this.contar_contagem_regressiva, 1000)
              this.id_intervalo = id_intervalo
            }
          },
          async compartilhar() {
            const imagem_logo = document.getElementById("imagem-logo")
            const imagem_modelo = document.getElementById("imagemBase")
            const imagem_teste = document.getElementById("imagemEntrada")
            const imagem_badge = document.getElementById("imagem-badge")
            const score = this.historico[this.item_selecionado].score;

            const canvas = document.getElementById("canvas-compartilhar")
            canvas.width = 1300;
            canvas.height = 700;
            const contexto = canvas.getContext("2d")
            contexto.fillStyle = "white";
            contexto.fillRect(0, 0, 1300, 700);
            contexto.drawImage(imagem_modelo, 50, 130, 500, 500);
            contexto.drawImage(imagem_teste, 750, 130, 500, 500);
            contexto.drawImage(imagem_logo, 490, 10, 300, 70);
            contexto.drawImage(imagem_badge, 510, 230, 280, 280);
            contexto.font = "70px serif";
            contexto.fillText('🔥', 520, 230);
            contexto.fillText('💪', 680, 580);
            contexto.fillText('🤣', 680, 200);
            contexto.font = "150px serif";
            contexto.fillStyle = "#2e3c50";
            contexto.fillText(score, 535, 410);
            contexto.font = "50px serif";
            contexto.fillText("/1000", 590, 450);
            contexto.fillText("Expectativa", 150, 120);
            contexto.fillText("Realidade", 900, 120);
            contexto.fillText("https://posista.gabrielsantos19.com", 300, 675);
            contexto.font = "30px serif";
            contexto.fillText("~ Imite a pose ~", 550, 110);

            const imagem = canvas.toDataURL()
            const ahref = document.getElementById("click-to-download")
            ahref.href = imagem
            ahref.click()
          },
          async atualizar_item_base() {
            if (this.item_base.elemento) {
              console.log("Atualizar item base - Já atualizado")
              return
            }
            console.log("Atualizar item base")
            const imagem = document.getElementById("imagemBase")
            const canvas = document.getElementById("canvasBase")
            canvas.width = imagem.width;
            canvas.height = imagem.height;
            this.item_base.elemento = imagem
            console.log(imagem.src)
            this.item_base.poses = await Modelo.estimar_poses(imagem)
          },
          async atualizar_item_teste_imagem() {
            const imagem = document.getElementById("imagemEntrada")
            const canvas = document.getElementById("canvasEntrada")
            canvas.width = imagem.width;
            canvas.height = imagem.height;
            this.item_teste.elemento = imagem
            this.item_teste.poses = await Modelo.estimar_poses(imagem)
          },
          async atualizar_item_teste_video() {
            const video = document.getElementById("videoEntrada")
            const canvas = document.getElementById("canvasEntrada")
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const dataURL = this.getImagemFromVideo()
            this.item_teste.elemento = dataURL
            this.item_teste.poses = await Modelo.estimar_poses(video)
          },
          async atualizar_item_teste() {
            console.log("Atualizar item teste")
            if (this.item_selecionado !== null) {
              await this.atualizar_item_teste_imagem()
            } else {
              await this.atualizar_item_teste_video()
            }
          },
          plotar_pose(canvasId, item) {
            const plotar = true
            const apenas_relevantes = false
            if (!plotar) return;
            if (!item.poses) return;
            
            console.log("Pintar pontos detectados na imagem")
            const canvas = document.getElementById(canvasId)
            const contexto = canvas.getContext("2d");
            let keypoints = item.poses[0].keypoints

            contexto.fillStyle = "green";
            contexto.fillRect(0, 0, 50, 50)
            // contexto.globalAlpha = 0.2;
            contexto.clearRect(0, 0, canvas.width, canvas.height);
            for (let i = 0; i < keypoints.length; i += 1) {
              const item = keypoints[i]
              contexto.fillRect(item.x, item.y, 10, 10)
            }
          },
          async atualizar_score() {
            if (!this.modelo_inicializado) {
              console.log("Modelo ainda não inicializado!")
              return
            }
            if (this.item_selecionado !== null) return;

            await this.atualizar_item_base()
            await this.atualizar_item_teste()
            const item1 = this.item_base
            const item2 = this.item_teste
            const r = await Modelo.calcular_score_de_items(item1, item2)

            const proximo_id = this.historico.length
            this.historico.push({
              id: proximo_id,
              score: r,
              src: item2.elemento,
            });

            this.plotar_pose("canvasBase", item1)
            this.plotar_pose("canvasEntrada", item2)
            this.score_corrente = r
          },
          tirarFoto() {
            const proximo_id = this.historico.length
            const data =  this.getImagemFromVideo()
            this.historico.push({
              id: proximo_id,
              score: 0,
              src: data,
            });
          },
          reconfigurar_camera() {
            this.item_selecionado = null
          },
          getImagemFromVideo() {
            const video = document.getElementById('videoEntrada')
            const canvas = document.getElementById('canvas')
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const canvasContext = canvas.getContext("2d");
            canvasContext.drawImage(video, 0, 0);
            const dataUrl = canvas.toDataURL()
            canvasContext.clearRect(0, 0, canvas.width, canvas.height);
            return dataUrl;
          },
          clearCanvas() {
            const canvas = document.getElementById('canvas')
            var canvasContext = canvas.getContext("2d");
            canvasContext.clearRect(0, 0, canvas.width, canvas.height);
          },
          async abrir_camera() {
            console.log("Abrindo câmera")
            const stream = await navigator.mediaDevices.getUserMedia({ video: true })
            document.getElementById('videoEntrada').srcObject = stream
            this.video_inicializado = true
            if (this.modelo_inicializado) {
              console.log("Vídeo e modelo inicializados. Iniciando contagem.")
              const id_intervalo = setTimeout(this.contar_contagem_regressiva, 1000)
              this.id_intervalo = id_intervalo
            }
          },
          async alterar_imagem_base() {
            console.log("Alterar imagem base")
            const x = (this.item_base.index + 1) % imagens_base.length
            this.item_base = {
              index: x,
              src: imagens_base[x].src,
              imagem: imagens_base[0],
            }
            this.historico = []
            this.item_selecionado = null
          },
        },
      });
      app.mount('#app');
    </script>
    
    <!-- PWA -->
    <script>
      window.addEventListener('load', () => {
        registerSW();
      });

      // Registro do Service Worker
      async function registerSW() {
        if ('serviceWorker' in navigator) {
          try {
            await navigator.serviceWorker.register('scripts/serviceworker.js');
          }
          catch (e) {
            console.log('SW registration failed');
          }
        }
      }
    </script>
  </body>
</html>
